body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    margin: 0; 
    overflow: hidden;
}

#choose_menu {
    border: 2px groove black; 
    border-radius: 16px;
    padding: 20px; 
    background-color: white; 
}
